<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Behzod Kurslar</title>
  </head>
  <body>
 <center> <h1>Behzod Asliddinovning kurslari</h1></center>
 
<div class="container">
     <div class="row">
         {% for kurs in kurslar  %}
         <div class="card" style="width: 18rem; margin-right:10px;">
          <img src="{{kurs.image.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">{{kurs.about}}</p>
          </div>
          <a class="btn btn-success btn-block" href="{{kurl.link}}" target="_blank">Ko'rish</a>
        </div>

         {% endfor %}
     
     
     
     </div>
</div>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

   
  </body>
</html>
